html,body{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size:16px;
    line-height:28px;
    font-weight:400;
    letter-spacing:0.5px;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

a{
    text-decoration:none;
}

/* Header Navigation */
.section1{
    position:relative;
    background-color: #0E1726;
}

.section1::before{
    content: '';
    position:absolute;
    top: -200px;
    right: 0;
    bottom: 0;
    left: -200px;
    background-image: url(../images/bggradient.png), url(../images/Line.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    opacity:0.6;
}

.section2{
    position:relative;
}

.section2::after{
    content: '';
    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../images/Line_lowsize.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: -1;
    opacity:0.6;
}

.navbar-expand-lg .navbar-nav .nav-link{
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing:2px;
    line-height: 12px;
    color: rgba(255, 255, 255, 0.6);
}

.navbar-expand-lg .navbar-nav .nav-link:hover{
    color: rgba(255, 255, 255, 1);
}

.navbar-expand-lg .navbar-nav .nav-link:active{
    color: rgba(255, 255, 255, 1);
}

.navbar-expand-lg .navbar-nav .nav-link:focus{
    color: rgba(255, 255, 255, 1);
}

.navbar .navbar-nav .nav-item{
    margin-left: 20px;
}


.container{
    max-width: 1040px !important;
}


/* Section 1 BPAKM Style */
.quote{
    position: relative;
}


.bg-dark{
    background-color:#0E1726 !important;
}

.aboutbpakm{
    text-align:left;
    font-weight: 600;
    font-size:13px;
    line-height:23px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding-left: 22px;
    color: rgba(255, 255, 255, 0.5);
}

.titlepage{
    text-align:left;
    font-weight:600;
    font-size: 110px;
    line-height: 110px;
    padding-top: 12px;
}

.aboutdesc{
    padding-top: 12px;
    text-align:left;
    font-weight:400;
    font-size:14px;
    line-height:27px;
    color: rgba(255, 255, 255, 0.8);
}

/* Section Kegiatan Kami*/
.title{
    font-weight:600;
    line-height:4.375rem;
}
.description{
    font-size: 1rem;
    line-height: 2rem;
    color: #737B7D;
}

.card-kegiatankami .card{
    margin-top:5.6rem;
}

.card-body .card-title{
    color: #1A1A1A;
    font-weight:600;
    line-height:2.25rem;
}

.card-body .card-text{
    color: #737B7D;
    line-height:2rem;
    font-size: 1rem;
}

.card-kegiatankami .component-products .products-thumbnail{
    width:100%;
    height:215px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
}

.card-kegiatankami .component-products .products-thumbnail .products-image{
    width:100%;
    height:100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.btn{
    border-radius:0.425rem;
    padding:1rem 1rem;
    font-weight:700;
}

.btn-primary{
    background-color: #0d6efd;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color:#044BD9;
    border-color: #285e8e; /*set the color you want here*/
}

/* Section Produk kami */
.component-products{
    margin-bottom:50px;
}

.component-products .products-text{
    font-size: 30px;
    color: #1A1A1A;
    font-weight:600;
    margin-top: 20px;
}

.component-products .products-thumbnail{
    width:100%;
    height:500px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.component-products .products-thumbnail .products-image{
    width:100%;
    height:100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-produk-kami{
    border: none;
    border-radius: none;
}

/* Section Tata cara peminjaman */
.tatacarapeminjaman{
    width:100%;
    height:1300px;
    overflow:hidden;
    position: relative;
}

.tatacarapeminjaman .products-image{
    width:100%;
    height:100%;
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Mobile Style */
@media only screen and (max-width: 600px) {
    .titlepage{
        font-size: 80px;
    }
    .aboutdesc{
        font-size: 12px;
    }
    .navbar{
        z-index: 0;
    }
}

@media only screen and (min-width: 1200px) {
    .quote::before{
        content:'';
        position:absolute;
        top: -10px;
        right: 0;
        bottom: 0;
        left: -520px;
        background-image: url(../images/left_quote.png);
        background-size: 58px;
        background-repeat: no-repeat;
        background-position: top center;
        opacity:0.4;
    }
    
    .quote::after{
        content:'';
        position:absolute;
        top: 233px;
        right: -500px;
        bottom: 0;
        left: 0px;
        background-image: url(../images/right_quote.png);
        background-size: 58px;
        background-repeat: no-repeat;
        background-position: top center;
        opacity: 0.4;
    }
}