<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halaman Beranda</title>
    <!-- Poppins Font -->
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <!-- Bootstrap file -->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <!-- Custom css file -->
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <!-- Header Code -->
    <section class="section1">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <a href="#" class="navbar-brand">
                    <img class="img-fluid" src="../images/logoBPAKMUII.png" alt="Logo BPA KM UII" width="150">
                </a>

                <!-- Hamburger button -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navmenu">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link">Beranda</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Produk Kami</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Investor</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Galeri</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Artikel</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Tentang Kami</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Section 1 BPAKM UII -->
        <section class="bg-dark text-light p-5 text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-5">
                        <div class="aboutbpakm">Tentang Kami</div>
                        <div class="titlepage">BPAKM UII</div>
                    </div>
                    <div class="col-lg-7 col-md-7 quote">
                        <div class="aboutdesc">
                            BPA (Badan Pengelola Aset) KM UII adalah sebuah organisasi yang telah berkembang yang awal
                            mulanya disebut Tim Kerja Pengelola Aset SCC UII yang pertama kali dibentuk tahun 2014. BPA
                            KM
                            UII dibentuk didasari kepentingan jangka Panjang Lembaga yaitu dalam upaya mewujudkan
                            kemandirian Lembaga KM UII, serta proses perbaikan sistem kelembagaan sehingga dapat
                            meningkatkan tata kelola organisasi .Usaha BPA yang awal mulanya hanya mengandalkan
                            penyewaan
                            SCC , perkembangan merambah pada usaha-usaha lain diantaranya pengelolaan jas almamater,
                            layanan
                            sistem informasi ,dan usaha strategis lainnya.
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>


    <script type="text/javascript" src="../js/bootstrap.js"></script>
</body>

</html>