<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halaman Beranda</title>
    <!-- Poppins Font -->
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <!-- Bootstrap file -->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <!-- Custom css file -->
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <!-- Header Code -->
    <section class="section1">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <a href="#" class="navbar-brand">
                    <img class="img-fluid" src="../images/logoBPAKMUII.png" alt="Logo BPA KM UII" width="150">
                </a>

                <!-- Hamburger button -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navmenu">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link">Beranda</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Produk Kami</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Investor</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Galeri</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Artikel</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Tentang Kami</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Section 1 BPAKM UII -->
        <section class="bg-dark text-light p-5 text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="aboutbpakm">Tentang Kami</div>
                        <div class="titlepage">BPA KM UII</div>
                    </div>
                    <div class="col-lg-6 col-md-6 quote">
                        <div class="aboutdesc">
                            BPA (Badan Pengelola Aset) KM UII adalah sebuah organisasi yang telah berkembang yang awal
                            mulanya disebut Tim Kerja Pengelola Aset SCC UII yang pertama kali dibentuk tahun 2014. BPA
                            KM
                            UII dibentuk didasari kepentingan jangka Panjang Lembaga yaitu dalam upaya mewujudkan
                            kemandirian Lembaga KM UII, serta proses perbaikan sistem kelembagaan sehingga dapat
                            meningkatkan tata kelola organisasi .Usaha BPA yang awal mulanya hanya mengandalkan
                            penyewaan
                            SCC , perkembangan merambah pada usaha-usaha lain diantaranya pengelolaan jas almamater,
                            layanan
                            sistem informasi ,dan usaha strategis lainnya.
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>


    <section class="section2">
        <!-- Section Kegiatan Kami -->
        <section class="container p-5">
            <!-- Bagian title & Description -->
            <div class="row d-flex align-items-center">
                <div class="col-lg-6 col-md-6">
                    <h2 class="display-5 mb-0 pt-3 me-2 title">Apa Saja Kegiatan Kami?</h2>
                </div>
                <div class="col-lg-5 col-md-6">
                    <p class="pt-3 description">BPA KM UII telah melakukan beberapa kegiatan sepanjang tahun dan berikut
                        adalah kegiatan yang sudah terlaksana.</p>
                </div>
            </div>

            <!-- Bagian Card -->
            <div class="row card-kegiatankami">
                <div class="col-sm-4 d-flex align-items-stretch">
                    <div class="card" style="width: 18rem;">
                        <a href="#" class="component-products d-block">
                            <div class="products-thumbnail">
                                <div class="products-image" style="background-image: url('../images/kegiatan1.png');">
                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Pendaftaran Anggota Baru</h5>
                                <p class="card-text">BPA KM UII kembali membuka seluruh produknya seperti SCC dan SAC
                                    pada
                                    tahun
                                    2021 ! Segera hubungi customer service untuk mendapatkan harga spesial dari setiap
                                    produk
                                    BPA KM UII !</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 d-flex align-items-stretch">
                    <div class="card" style="width: 18rem;">
                        <a href="#" class="component-products d-block">
                            <div class="products-thumbnail">
                                <div class="products-image" style="background-image: url('../images/kegiatan2.png');">
                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Pendaftaran Anggota Baru</h5>
                                <p class="card-text">BPA KM UII kembali membuka seluruh produknya seperti SCC dan SAC
                                    pada
                                    tahun
                                    2021 ! Segera hubungi customer service untuk mendapatkan harga spesial dari setiap
                                    produk
                                    BPA KM UII !</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 d-flex align-items-stretch">
                    <div class="card" style="width: 18rem;">
                        <a href="#" class="component-products d-block">
                            <div class="products-thumbnail">
                                <div class="products-image" style="background-image: url('../images/kegiatan3.png');">
                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Pendaftaran Anggota Baru</h5>
                                <p class="card-text">BPA KM UII kembali membuka seluruh produknya seperti SCC dan SAC
                                    pada
                                    tahun
                                    2021 ! Segera hubungi customer service untuk mendapatkan harga spesial dari setiap
                                    produk
                                    BPA KM UII !</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row mt-5 mb-5">
                    <div class="col text-center">
                        <button class="btn btn-primary">Lihat Semua Kegiatan</button>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section Produk Kami-->
        <section class="container p-5">
            <!-- Bagian title & Description -->
            <div class="row d-flex align-items-center">
                <div class="col-lg-6 col-md-6">
                    <h2 class="display-5 mb-0 pt-3 me-2 title">Produk Kami</h2>
                </div>
                <div class="col-lg-5 col-md-6">
                    <p class="pt-3 description">BPA KM UII memiliki beberapa layanan produk yang bisa anda gunakan,
                        layanan
                        tersebut meliputi beberapa produk di bawah ini.</p>
                </div>
            </div>

            <!-- Bagian Card Produk Kami-->
            <div class="row mt-5">
                <div class="col-12 col-md-4 col-lg-4 pr-2">
                    <a href="#" class="component-products d-block">
                        <div class="products-thumbnail">
                            <div class="products-image" style="background-image: url('../images/bangunan.jpeg');">
                            </div>
                        </div>
                        <div class="products-text">Gedung SCC UII</div>
                    </a>
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                    <a href="#" class="component-products d-block">
                        <div class="products-thumbnail">
                            <div class="products-image" style="background-image: url('../images/soundspeaker.jpg');">
                            </div>
                        </div>
                        <div class="products-text">Sound Speaker</div>
                    </a>
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                    <a href="#" class="component-products d-block">
                        <div class="products-thumbnail">
                            <div class="products-image" style="background-image: url('../images/kursi.jpg');">
                            </div>
                        </div>
                        <div class="products-text">Kursi</div>
                    </a>
                </div>
            </div>
            <div class="row mt-5 mb-5">
                <div class="col text-center">
                    <button class="btn btn-primary">Lihat Semua Produk</button>
                </div>
            </div>
        </section>

        <!-- Section Tata Cara Peminjaman -->
        <section class="container p-5">
            <!-- Bagian title & Description -->
            <div class="row d-flex align-items-center">
                <div class="col-lg-6 col-md-6">
                    <h2 class="display-5 mb-0 pt-3 me-2 title">Tata Cara Peminjaman</h2>
                </div>
                <div class="col-lg-5 col-md-6">
                    <p class="pt-3 description">Bagaimana sih cara meminjam barang yang dimiliki oleh BPA KM UII?? Jika
                        anda menginginkan untuk meminjam barang tersebut maka, bisa mengikuti beberapa langkah di bawah
                        ini.</p>
                </div>
            </div>

            <!-- Section tata cara peminjaman -->
            <div class="col-12">
                <div class="tatacarapeminjaman pt-5">
                    <div class="products-image" style="background-image:url('../images/tatacarapeminjaman.png')"></div>
                </div>
            </div>
        </section>

        <!-- Section Tata Cara Peminjaman -->
        <section class="container p-5">
            <!-- Bagian title & Description -->
            <div class="row d-flex align-items-center">
                <div class="col-lg-6 col-md-6">
                    <h2 class="display-5 mb-0 pt-3 me-2 title">Artikel Terbaru</h2>
                </div>
            </div>

            <!-- Section artikel -->

        </section>
    </section>

    <script type="text/javascript" src="../js/bootstrap.js"></script>
</body>

</html>