table.date {
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 1em;
	font-family: "Helvetica Neue",Helvetica;
}
.date th {
	border: 1px solid #000;
	text-transform: uppercase;
	padding: 3px;
	height: 40px;
	background-color: #000080;
	color:#FFFFFF;
}
.date td {
	border: 1px solid #999;
	height: 5em;
	width: 5em;
	vertical-align: top;
}
caption {
	font-size: 300%;
	font-style: italic;
}

a{
	text-decoration:none;
}

a.prev_date, a.next_date{
	font-size:50%;
}

.add_note, .act_note{
	cursor:pointer;
}

.add_note:hover, .act_note:hover{
	color:#FF0000;
	font-weight:bold;
}

.kactive, .notes {
	background-color: #FFF000;
}
.t_kactive, .t_notes {
	background-color: #FF7575;
	font-weight:bold;
}
.today {
	background-color: #80FFBF;
}

.kactive, .t_kactive, .day{
	padding: 3px 0px 0px 6px;
	height: 1em;
}

.today{
	padding: 3px 0px 0px 6px;
	height: 5.6em;
}

.notes, .t_notes{
	padding: 6px 3px 16px 6px;
	font-family: Georgia, "times new roman";
	font-size: 13px;
	height: 4em;
}

.weekend_sat {
	background-color: #F3F3F3;
}
.weekend_sun {
	background-color: #F7AFAF;
}